h1 .zola-anchor,
h2 .zola-anchor,
h3 .zola-anchor,
h4 .zola-anchor,
h5 .zola-anchor,
h6 .zola-anchor {
  font-size: 1.25rem;
  visibility: hidden;
  margin-left: -2rem;
  text-decoration: none;
  border-bottom-color: transparent;
  cursor: pointer;
}
h1:hover .zola-anchor,
h2:hover .zola-anchor,
h3:hover .zola-anchor,
h4:hover .zola-anchor,
h5:hover .zola-anchor,
h6:hover .zola-anchor {
  visibility: visible;
}
.foot {
  margin-left: auto;
  margin-right: auto;
}
.sidebar .container {
  height: 100%;
}
